:root{

    /* === txt === */
    --txt-color-primary: #000;
    --txt-color-secondary: #fff;
    --txt-input-primary: #7C7A7A;
    --txt-color-error: #ff7f7f;

    /* === bg === */
    --bg-primary: #E1E1E1;
    --bg-secondary: #2F5597;

    --bg-input-primary: #FFF;
    --bg-checkbox-default: #fff;

    --bg-btn-primary: #2F5597;
    --bg-btn-disabled: #a1a1a1;
    --bg-prev-button: #FF7A00;
    --bg-next-button: #0FB13C;
    --bg-finish-button: #0FA8B1;

    /* === border === */
    --border-input-primary: #7A7A7A;
    --border-checkbox-primary: #7A7A7A;

    // === link ===
    //--link-color:#001fa8;
}
